<html>
  <header>
  </header>
  <body>
        {% include "header.html" %}
          <h1>My Account</h1>
          {% if session["user"] is defined %}
          <table>
              <tr><td><b>Organization: </b></td><td>{{ session["user"]["org"] }}</td></tr>
              <tr><td><b>Vaccine Brand: </b></td><td>{{ session["user"]["brand"] }}</td></tr>
              <tr><td><b>First Dose Date: </b></td><td>{{ session["user"]["first_dose"] }}</td></tr>
          </table>
          {% endif %}
        {% include "footer.html" %}
  </body>
</html>
